.btw {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #D7C0D0 5px center/3em no-repeat;
}

.bg-danger {
	padding: 2px 2px 2px 2px;
	color: white;
	background-color: #d9534f
}

.learncheck {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #77BA99 5px center/3em no-repeat;
}

.announcement {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #F6D328 5px center/3em no-repeat;
}

.review {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #9ED3AD 1px center/1em no-repeat;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

pre.numberSource code > span > a:first-child::before {
  left: -0.3em;
}

/* -----------Section anchors -------------*/

.book .book-body .page-wrapper .page-inner section.normal {
  overflow: visible !important; /*so anchor link doesnt get cut off */
}

a.anchor {
  margin-left: -30px;
  padding-right: 3px;
  display:inline-block;
  width: 30px;
  height: 30px;
  background-image: url(https://image.flaticon.com/icons/svg/34/34735.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 20px 20px !important;
  background-position: center bottom !important;
  opacity: 0;
}


.hasAnchor:hover a.anchor, a.anchor:hover {
  opacity: 0.6;
}

@media (max-width: 1144px) { /* dont show anchor link on small screens */
  .hasAnchor:hover a.anchor {
visibility: hidden;
  }
}

